services:
  backend:
    image: royjannessimbolon/backend-express:latest
    container_name: be-container
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:Welawe01@host.docker.internal:5432/CRUDAPIII?schema=public
      - JWT_SECRET=secret_inventory_jwt
      - VITE_API_URL=http://localhost:3000
      - BASE_URL=http://localhost:3000/api/orders
      - PORT=3000
    networks:
      - app-network
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  frontend:
    image: royjannessimbolon/frontend-vite:latest
    container_name: fe-container
    ports:
      - "5173:8080"
    environment:
      - VITE_API_URL=http://localhost:3000
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      - backend
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=generic://localhost:3000/?title=Watchtower
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge