version: '3.8'

services:
  backend:
    image: royjannessimbolon/backend-express:latest
    container_name: be-container
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:Welawe01@host.docker.internal:5432/CRUDAPIII?schema=public
      - JWT_SECRET=secret_inventory_jwt
      - VITE_API_URL=http://localhost:3000
      - BASE_URL=http://localhost:3000/api/orders
      - PORT=3000
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    image: royjannessimbolon/frontend-vite:latest
    container_name: fe-container
    ports:
      - "5173:8080"
    environment:
      - VITE_API_URL=http://localhost:3000
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge