apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: supply-chain-app
  labels:
    app: backend
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
  - name: http
    protocol: TCP
    port: 3000
    targetPort: 3000