name: CI/CD with Kubernetes

on:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: royjannessimbolon

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.vars.outputs.sha }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set variables
        id: vars
        run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./be
          file: ./be/Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_USERNAME }}/backend-express:latest
            ${{ env.DOCKER_USERNAME }}/backend-express:${{ steps.vars.outputs.sha }}

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./fe
          file: ./fe/Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_USERNAME }}/frontend-vite:latest
            ${{ env.DOCKER_USERNAME }}/frontend-vite:${{ steps.vars.outputs.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        
      - name: Set up Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      
      - name: Update Kubernetes Deployments
        run: |
          kubectl set image deployment/backend-deployment \
            backend=${{ env.DOCKER_USERNAME }}/backend-express:${{ needs.build-and-push.outputs.sha }} \
            -n supply-chain-app
          
          kubectl set image deployment/frontend-deployment \
            frontend=${{ env.DOCKER_USERNAME }}/frontend-vite:${{ needs.build-and-push.outputs.sha }} \
            -n supply-chain-app
      
      - name: Verify Rollout
        run: |
          kubectl rollout status deployment/backend-deployment -n supply-chain-app
          kubectl rollout status deployment/frontend-deployment -n supply-chain-app